name: Build Artifact
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_call:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.20.0
          cache: "yarn"

      - name: Build Package
        run: |
          yarn install --immutable --immutable-cache --check-cache
          yarn build

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: DtD
          path: |
            build
            package.json
            yarn.lock
          if-no-files-found: error
